{% sw_extends '@Storefront/storefront/component/shipping/shipping-method.html.twig' %}

{% block component_shipping_method_description %}
    <div class="shipping-method-description">
        <strong>{{ shipping.translated.name }}</strong>

        {% if shipping.id === page.distanceBasedShippingCostData.shippingMethodId %}
            <strong>{{ page.distanceBasedShippingCostData.distanceLabel }}</strong>
        {% endif %}
        {% if shipping.translated.description %}
            {% set shippingDescription = shipping.translated.description|raw %}

            {% if not shipping.id is same as(context.shippingMethod.id) %}
                {% set shippingDescription = (shippingDescription|length > 75 ? shippingDescription[:75] ~ ' ...' : shippingDescription) %}
            {% endif %}

            <p title="{{ shipping.translated.description|raw }}">{{ shippingDescription }}</p>
        {% endif %}
    </div>
{% endblock %}
