.mm-distance-based-shipping-settings-view-shipping {
    label {
        display: flex;
        line-height: 16px;
        font-size: 14px;
        margin-bottom: 8px;
        color: #52667a;
    }
    .mm-distance-based-shipping-settings_view_shipping__save-action_container {
        display: flex;
        justify-content: end;
    }
}
